@import '../../node_modules/typeface-montserrat/index.css';

body {
    font-family: 'Montserrat';
    margin: 0;
    background: black;
    color: white;
    -webkit-user-select: none;
}

#container {
    position: relative;
    width: 760px;
    height: 440px;
    margin: 20px 20px;
}

.btn {
    padding: 10px 10px;
    padding-top: 25px;
    border: 0;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    border-radius: 4px;
    width: 170px;
    height: 155px;
    text-align: center;
    cursor: pointer
}

.btn:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

option {
    font-size: 24px;
    font-weight: bold;
    height: 32px;
}

#clock {
    font-size: 96px;
    font-weight: 800;
    position: absolute;
    top: -10px;
    left: 0;
    display:flex;
}

#colon {
    width: 40px;
    text-align: center;
}

#iplogo {
    position: absolute;
    top: 185px;
    left: 40px;
    height: 200px;
    z-index: -1;
}

#teamMember {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 520px;
    border: none;
    opacity: 0.95;
}

#clockIn {
    position: absolute;
    top: 20;
    right: 20;
}

#clockOut {
    position: absolute;
    bottom: 20;
    right: 20;
}

#settings {
    position: absolute;
    left: 10;
    bottom: 10;
    opacity: 0;
}

#alert {
    position: absolute;
    font-weight: bold;
    color: red;
    left: 50px;
    bottom: 15px;
}

#message {
    position: absolute;
    color: yellow;
    right: 255px;
    bottom: 15px;
    display: none;
}

#online {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 9px;
    color: grey;
}

*::-webkit-selection {
    background:transparent;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @keyframes fadeOut{
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  @keyframes fadeBounce{
      0% {
        opacity:0;
      }
      25% {
        opacity:1;
      }
      100% {
        opacity:1;
      }
    }

@keyframes fadeSingle {
    0% {
        opacity:0;
    }
    20% {
        opacity:1;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
  
.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

.fade-out {
    animation: fadeOut 2.0s ease forwards;
}

.fade-bounce {
    animation: fadeBounce 5s infinite;
}

.fade-single {
    animation: fadeSingle 5s ease forwards;
}